[Unit]                                                                                                                                                                                                                                                                          
Description=Networking for netctl profile %I
Documentation=man:netctl.profile(5)
After=network-pre.target
Before=network.target netctl.service
Wants=network.target
                                                                                                                                                                                                                                                            
[Service]
KillMode=none
Type=forking                                                                                                                                                                                                                                                                  
Restart=always
RestartSec=20
PIDFile=/var/run/ppp-%I.pid

ExecStartPre=/etc/netctl/options/ppp.hwinit %I
ExecStart=/usr/lib/network/network start %I
ExecStop=/usr/lib/network/network stop %I
