[Unit]
Description=Hardware Initialisation for %I
Before=basic.target
BindsTo=dev-gnxio0
After=dev-gnxio0 sysinit.target
DefaultDependencies=false

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hwctl init %I
TimeoutSec=90

[Install]
WantedBy=multi-user.target
